@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslateblue;    
}
#container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 350px;
}
.accordion{
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
   
}
.accordion-header{
    width: 100%;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}
.accordion-header span{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.accordion-body{
    color: #444;
    font-size: 14px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
}
.accordion-body.active{
    opacity: 1;
    height: 100%;
    padding: 5px 0px;
}
.arrow{
    transition: transform .2s linear;
}
.accordion:has(.active) .arrow{
    transform: rotate(180deg);
}